@font-face {
  font-family: 'Sailec Black';
  src:  url('./webfonts/32F680_0_0.woff2') format('woff2'),
        url('./webfonts/32F680_0_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black Italic';
  src:  url('./webfonts/32F680_1_0.woff2') format('woff2'),
        url('./webfonts/32F680_1_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black 2';
  src:  url('./webfonts/32F680_2_0.woff2') format('woff2'),
        url('./webfonts/32F680_2_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black 3';
  src:  url('./webfonts/32F680_3_0.woff2') format('woff2'),
        url('./webfonts/32F680_3_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black 4';
  src:  url('./webfonts/32F680_4_0.woff2') format('woff2'),
        url('./webfonts/32F680_4_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black 5';
  src:  url('./webfonts/32F680_5_0.woff2') format('woff2'),
        url('./webfonts/32F680_5_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black 6';
  src:  url('./webfonts/32F680_6_0.woff2') format('woff2'),
        url('./webfonts/32F680_6_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black 6';
  src:  url('./webfonts/32F680_6_0.woff2') format('woff2'),
        url('./webfonts/32F680_6_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black 7';
  src:  url('./webfonts/32F680_7_0.woff2') format('woff2'),
        url('./webfonts/32F680_7_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black 8';
  src:  url('./webfonts/32F680_8_0.woff2') format('woff2'),
        url('./webfonts/32F680_8_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black 9';
  src:  url('./webfonts/32F680_9_0.woff2') format('woff2'),
        url('./webfonts/32F680_9_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black A';
  src:  url('./webfonts/32F680_A_0.woff2') format('woff2'),
        url('./webfonts/32F680_A_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black B';
  src:  url('./webfonts/32F680_B_0.woff2') format('woff2'),
        url('./webfonts/32F680_B_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black C';
  src:  url('./webfonts/32F680_C_0.woff2') format('woff2'),
        url('./webfonts/32F680_C_0.woff') format('woff');
}
@font-face {
  font-family: 'Sailec Black D';
  src:  url('./webfonts/32F680_D_0.woff2') format('woff2'),
        url('./webfonts/32F680_D_0.woff') format('woff');
}

a {text-decoration:none;

}


body {
	margin: 0px;
	color: #141414;
	max-width: 100%;
    overflow-x: hidden;
    -webkit-max-width: 100%;
    -webkit-overflow-x: hidden;
	font-family: 'Sailec Black A', sans-serif;
	line-height: 20px;
}

iframe {
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	text-align: left;
	align-item: left;
	z-index: 0;
}

.content {
	width: 100%;
	display: inline;
 	position: relative;
	text-align: center;
	align-item: center;
	padding-top: 80px;
	padding-left: 20px;
	z-index: 1;
}

.logo {
	position: fixed;
	margin-bottom: 25px;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	width: 70px;
	z-index: 1000;
}

.bottom {
	bottom: 0px;
	right: 0px;
}

.top {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
	left: 0px;
	top: 0px;
	padding-bottom: 25px;
}

.top-logo {
	color: #141414;
	fill: currentColor;
	width: 140px;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	z-index: 980;
}

.top-logo:hover {
	opacity: .18;
}

a.svg {
  position: relative;
  display: inline-block;
  margin-top: 60px;
  margin-left: 60px;
  z-index: 1000;
}
a.svg:after {
  content: ""; 
}

#home-link {
	position: relative;
    display: inline-block; 

}

.menu {
	position: absolute;
	margin-right: 50px;
	margin-top: 40px;
	font-family: 'Sailec Black 8', sans-serif;
	top: 0px;
	right: 0px;
	z-index: 1000;
	padding-top: 10px;
}

/*#bar {
	width: 102%;
	height: 10px;
	margin: 10px;
	background-color: black;
}*/

#line {
	display: inline;
	width: 76%;
	height: 2px;
	background-color: black;
}

#bar2 {
	width: 300px;
	height: 2px;
	margin-top: 50px;
	background-color: black;
}
.menu-page {
	text-decoration: none;
	color: inherit;
	font-size: 15px;
	letter-spacing: .2px;
	padding-left: 20px;

}

.menu-page:hover {
	text-decoration: underline;
	transition: all .8s ease;
}

.mobileButton {
	display: none;
	text-align: center;
	width: 30px;
}
.mobileMenu {
	position: fixed;
	display: none;
	text-align: left;
	width: 100%;
	height: 100%;
	padding-left: 60px;
	margin-top: 15px;
	z-index: 11;
}

.mobileMenu-page {
	display: inline-block;
	padding-top: 10px;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	color: black;
	text-align: center;
}

 #hours {
 	position: fixed;
 	font-size: 12px;
 	bottom: 50px;
 	left: 20px;
 	z-index: 1000;
 }

 #info {
 	position: fixed;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 8px;
 	bottom: 25px;
 	left: 20px;
 	z-index: 1000;
 }

 .slide-container {
 	display: block;
 	width: 55%;
 	padding-top: 30px;
 	padding-left: 64px;
 	text-align: left;
  }

 .slideIMG {
 	width: 100%;
 }

.intro {
	text-align: left;
	width: 55%;
	font-size: 16px;
	padding-top: 30px;
	padding-left: 64px;
}

.about {
	display: inline-block;
	width: 55vw;
	font-size: 16px;
	padding-top: 30px;
	padding-left: 60px;
	padding-bottom: 40px;
	text-align: left;
}

.fill {
	display: none;
}

 .mobile-IMG {
  	display: none;
 }

.gridTitle {
	width: 100%;
	margin-left: 70px;
	text-align: left;
	font-family: 'Sailec Black 8', sans-serif;
	padding-bottom: 10px;
}

.outer-container {
	text-align: center;
	display: table;
	height: auto;
	margin: 0 auto;
	width: 100%;
	align-item: center;
	padding-top: 100px;

}

.flex-container {
	text-align: center;
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}

.column {
	width: 345px;
	padding-left: 40px;
	padding-right: 40px;
	align-item: center;
	text-align: center;
}

.column2 {
	width: 300px;
	padding-left: 40px;
	padding-right: 40px;
	align-item: center;
}

#square {
	max-width: 90%;
	-moz-backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

	#square:hover {
			opacity: .7;

	}

#title {
	color: inherit;
	font-family: 'Sailec Black 8', sans-serif;
	text-align: center;
	text-decoration: none;
	padding: 0px;
}

#title:hover {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

#link {
	text-decoration: underline;
}

#gridINFO {
	width: 100%;
	text-align: center;
	padding-bottom: 40px;

}

.welcome {
	position: absolute;
	display: inline-block;
	width: 24%;
	top: 14.5vw;
	left: 67%;
}

#welcome {
	font-size: 55px;
	font-family: 'Sailec Black', sans-serif;
	line-height: 60px;
	letter-spacing: 1px;
	margin-bottom: -5px;
}

.button {
	background-color: black;
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.button:hover {
	background-color: #f5f5f5;
	color: black;

}
#largeTXT {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 200px;
}

#member {
	font-weight: 400;
	font-size: 15px;
	text-align: center;
}

.bottomButtons {

}

/* .invert {
 	-webkit-filter: invert(1);
    filter: invert(1);
 }*/

/* .background {
 	background-color: black;
 }*/

/* // Sub Pages //*/

 .pageTitle {
 	display: block;
 	width: 100%;
 }

 .staff {
 	display:flex;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	font-size: 16px;
	padding-top: 30px;
	margin-left: 3%;
	text-align: center;
}

  hr {
  	margin: 50px;
  }

  #careers {
  	padding-bottom: 50px;
  	padding-top: 20px;
  	margin-left: 2%;
  }

  #center {
  	width: 100%;
  	text-align: center;
  	align-item: center;
  }

   #footer {
  	width: 100%;
  	height: 100px;
  	text-align: center;
  	align-item: center;
  	padding-bottom: 40px;
  }

  #MapGuide {
  	width: 12%;
  }

  #icons {
  	width: 25px;
  	padding: 10px;
  	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
  }

  #icons:hover {
  		opacity: .3;
  }

  #headerIMG {
  	display: inline-block;
 	position: relative;
 	width: 100%;
 	margin-top: 50px;
 	margin-left: 40px;
  }

  h3 {
  	font-family: 'Sailec Black 8', sans-serif;
  }


@media screen and (max-width: 760px) {

	.menu {
		position: fixed;
		padding: 0px;
		margin-right: 24px;

	}

	#bar {
		display: none;
		margin: none;
	}

	#bar2 {
		display: none;
		margin: none;
	}

    .menu-page {
    	display: none;
    }

    #hours {
    	position: absolute;
    	top: 440px;
    }

    #info {
    	position: absolute;
    	top: 522px;
    }

    #header {
    	display: none;
    }

    .slide-container {
    	display: none;
    }

    .mobileButton {
    	display: inline-block;
    }

    .content {
    	margin: 0px;
    	padding: 0px;
    	width: 100%;
    }

    .intro {
    	position: relative;
    	width: 70%;
    	padding-top: 15px;
    }

/*    .about {
    	width: 70%;
    	margin-left: 0px;
    	padding-top: 5px;
    }*/

     .fill {
	    display:flex;
	    display: -webkit-flex;
	    justify-content:center;
	    -webkit-align-items:center;
	    align-items:center;
	    overflow:hidden;
	    padding: 80px
	}

	.fill img {
		 -webkit-flex-shrink:0;
	    flex-shrink:0;
	    min-width:100%;
	    -webkit-min-width:100%;
	    -webkit-min-height:100%
	    min-height:100%
	}

     .mobile-IMG {
	    display: inherit;
	 	position: inline-block;
	 	width: 100%;
	 	text-align: center;
	 	padding-top: 220px;
	 	padding-bottom: 0px;
	 	z-index: 1;
 	}

 	.flex-container {
 		align-item: center;
		justify-content:center;
 	}

 	.column {
		width: 275px;
		
	}

	.welcome {
	position: relative;
	display: inline-block;
	text-align: center;
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 80px;
	width: 82%;
	top: 150px;
	left: 0%;
	}

	/* // Sub Pages //*/

	 .pageTitle {
	 	width: 100%;
	 	text-align: center;
	 	margin-left: 0px;
	 	padding-top: 50px;
	 }

	 .gridTitle {
		margin-left: 0px;
		text-align: center;
	}

		#gridINFO {
		width: 100%;
	}


	.staff {
    	width: 100%;
    	margin-left: 40px;
    	padding-top: 15px;
    }

    #careers {
    	width: 75%;
    	margin-left: 40px;
    }

    #largeTXT {
    	padding-top: 250px;
    }
    .column2 {
	width: 100%;
	padding-bottom: 100px;
	align-item: center;
	text-align: center;
}

	.bottomButtons {
		padding-left: 0px;
		margin-top: 100px;
	}
	
	#donate {
		margin-left: 0px;
		text-align: center;
		width: 100%;
}

	#member {
	width: 100%;
	padding-left: 0px;
}

	  #MapGuide {
  	  width: 53%;
  }

}















