body {
	margin: 0px;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}

.container {
	z-index: 0;
}

.logo {
	position: fixed;
	font-weight: 500;
	margin-bottom: 12px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100px;
	z-index: 1000;
}

.bottom {
	bottom: 0px;
	right: 0px;
}

.top {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
	left: 0px;
	top: 0px;
	padding-bottom: 10px;
}

.menu {
	position: absolute;
	margin-right: 25px;
	margin-top: 23px;
	font-weight: 600;
	top: 0px;
	right: 0px;
	z-index: 1000;
}

.menu-page {
	text-decoration: none;
	color: inherit;
	padding-left: 20px;

}

.menu-page:hover {
	text-decoration: underline;
	transition: all .8s ease;
}

.mobileButton {
	display: none;
	width: 20px;
	height: 20px;
	background-color: black;
}

.mobileMenu {
	position: fixed;
	display: none;
	text-align: center;
	width: 100%;
	height: 100%;
	margin-top: 90px;
	z-index: 11;
}

.mobileMenu-page {
	display: inline-block;
	padding-top: 10px;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	color: black;
	text-align: center;
}

 #hours {
 	position: fixed;
 	font-size: 12px;
 	bottom: 50px;
 	left: 20px;
 	z-index: 1000;
 }

 #info {
 	position: fixed;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 8px;
 	bottom: 25px;
 	left: 20px;
 	z-index: 1000;
 }

 .content {
 	display: inline-block;
 	position: relative;
 	margin-top: 90px;
 	margin-left: 100px;
 	z-index: 1;
 }

 .slideIMG {
 	display: inline-block;
 	width: 63%;
 	margin-left: 3%;
 }

.intro {
	display: inline-block;
	width: 55vw;
	font-size: 16px;
	padding-top: 30px;
	margin-left: 3%;
}

.about {
	display: inline-block;
	width: 55vw;
	font-size: 16px;
	padding-top: 30px;
	margin-left: 3%;
}

.fill {
	display: none;
}

 .mobile-IMG {
  	display: none;
 }

.gridTitle {
	width: 100%;
	margin-left: 70px;
	text-align: left;
	padding-bottom: 10px;
}

.outer-container {
	width: 100%;
	position: relative;
	text-align: center;
	height: auto;
	padding-top: 100px;

}

.flex-container {
	text-align: center;
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.column {
	width: 400px;
	padding: 5px;
	align-item: center;
	text-align: center;
}

.column2 {
	width: 40%;
	padding: 5px;
	align-item: center;
	text-align: center;
}

img {
  max-width: 80%;
  padding-top: 5px;
}

#title {
	color: inherit;
	text-align: center;
	text-decoration: none;
	padding: 0px;
}

#title:hover {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

#link {
	text-decoration: underline;
}

#gridINFO {
	width: 84%;
	margin-left: 40px;
	text-align: left;
	padding-bottom: 40px;
}

.donate {
	position: absolute;
	text-align: center;
	display: inline-block;
	width: 24%;
	top: 94px;
	left: 72%;
}

#donate {
	padding-bottom: 10px;
	font-weight: 600;
	margin-left: 15px;
	text-align: left;
	width: 95%;
}

.button {
	background-color: black;
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
#largeTXT {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 200px;
}

#member {
	font-weight: 600;
	text-align: left;
	width: 85%;
	padding-left: 10%;
}

.bottomButtons {
	padding-left: 115px;
}

/* .invert {
 	-webkit-filter: invert(1);
    filter: invert(1);
 }*/

/* .background {
 	background-color: black;
 }*/

/* // Sub Pages //*/

 .pageTitle {
 	display: block;
 	width: 100%;
 	margin-left: 70px;
 }

 .staff {
 	display:flex;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	font-size: 16px;
	padding-top: 30px;
	margin-left: 3%;
	text-align: center;
}

  hr {
  	margin: 50px;
  }

  #careers {
  	padding-bottom: 50px;
  	margin-left: 3%;
  }

  #footer {
  	width: 100%;
  	height: 100px;
  	text-align: center;
  	align-item: center;
  	padding-bottom: 50px;
  }

  #MapGuide {
  	width: 18%;
  }


@media screen and (max-width: 760px) {

	.menu {
		position: fixed;
	}

    .menu-page {
    	display: none;
    }

    #hours {
    	position: absolute;
    }

    #info {
    	position: absolute;
    }

    #header {
    	display: none;
    }

    .slide-container {
    	display: none;
    }

    .mobileButton {
    	display: inline-block;
    }

    .content {
    	margin: 0px;
    	padding: 0px;
    	width: 100%;
    }

    .intro {
    	width: 70%;
    	margin-left: 75px;
    	padding-top: 75px;
    }

    .about {
    	width: 70%;
    	margin-left: 75px;
    	padding-top: 15px;
    }

     .fill {
	    display:flex;
	    display: -webkit-flex;
	    justify-content:center;
	    -webkit-align-items:center;
	    align-items:center;
	    overflow:hidden;
	    padding: 80px
	}

	.fill img {
		 -webkit-flex-shrink:0;
	    flex-shrink:0;
	    min-width:100%;
	    -webkit-min-width:100%;
	    -webkit-min-height:100%
	    min-height:100%
	}

     .mobile-IMG {
	    display: inherit;
	 	position: inline-block;
	 	width: 100%;
	 	text-align: center;
	 	padding-top: 220px;
	 	padding-bottom: 80px;
	 	z-index: 1;
 	}

 	.flex-container {
 		align-item: center;
		justify-content:center;
 	}

 	.column {
		width: 300px;
		
	}

	.donate {
	position: relative;
	display: inline-block;
	text-align: center;
	display: inline-block;
	width: 80%;
	left: 10%;
	}

	/* // Sub Pages //*/

	 .pageTitle {
	 	width: 100%;
	 	text-align: center;
	 	margin-left: 0px;
	 	padding-top: 50px;
	 }

	 .gridTitle {
		margin-left: 0px;
		text-align: center;
	}

		#gridINFO {
		width: 80%;
	}


	.staff {
    	width: 100%;
    	margin-left: 40px;
    	padding-top: 15px;
    }

    #careers {
    	margin-left: 40px;
    }

    #largeTXT {
    	padding-top: 250px;
    }
    .column2 {
	width: 100%;
	padding-bottom: 100px;
	align-item: center;
	text-align: center;
}

	.bottomButtons {
		padding-left: 0px;
		margin-top: 100px;
	}
	#member {
	width: 79%;
	padding-left: 55px;
}

	  #MapGuide {
  	  width: 53%;
  }

}

















