body {
	margin: 0px;
	height: 800px;
}

.container {
	position: fixed;
	width: 100%;
	height: 100%;
}

.logo {
	position: fixed;
	font-weight: 500;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 25px;
	width: 100px;
}

.bottom {
	bottom: 0px;
	right: 0px;
}

.top {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
	left: 0px;
	top: 0px;
}

.menu {
	position: fixed;
	margin-right: 25px;
	margin-top: 23px;
	font-weight: 500;
	top: 0px;
	right: 0px;
}

.menu-page {
	text-decoration: none;
	color: inherit;
	padding-left: 10px;

}

.menu-page:hover {
	text-decoration: underline;
	transition: all .8s ease;
}

.mobileButton {
	display: none;
	width: 20px;
	height: 20px;
	background-color: black;
}

.mobileMenu {
	display: none;
	text-align: center;
	width: 100%;
	height: 100%;
	margin-top: 35%;
	z-index: 11;
}

.mobileMenu-page {
	display: inline-block;
	margin-top: 18px;
	font-size: 30px;
	font-weight: 500;
	text-decoration: none;
	color: black;
	text-align: center;
}

.about {
	position: absolute;
	width: 55vw;
	height: 350px;
	font-size: 16px;
	margin-left: 85px;
	margin-top: 90px;
}

a {
	font-family: avenir;
}
 #hours {
 	position: fixed;
 	font-size: 12px;
 	bottom: 50px;
 	left: 20px;
 }

 #info {
 	position: fixed;
 	font-family: avenir;
 	font-size: 8px;
 	bottom: 25px;
 	left: 20px;
 }

 .content {
 	position: absolute;
 	width: 100%;
 	height: 1800px;
 	z-index: -10;
 }

  .backIMG {
  	display: none;
 }


 .invert {
 	-webkit-filter: invert(1);
    filter: invert(1);
 }

 .background {
 	background-color: black;
 }


@media screen and (max-width: 640px) {
    .about {
    	margin-left: 65px;
    	width: 68vw;
    }

    .menu-page {
    	display: none;
    }

    .mobileButton {
    	display: inline-block;
    }

     .backIMG {
    display: inherit;
 	position: absolute;
 	width: 100%;
 	text-align: center;
 	margin-top: 580px;
 	z-index: -1;
 }

}

















